<ng-container *ngIf="pet != undefined; else not_found">
  <div class="cardContainer">
    <app-pet-detail-card [imgSrc]="pet.imgSrc" [name]="pet.name" [petType]="pet.petKind" [age]="pet.age"></app-pet-detail-card>
    <button routerLink="/">Pet catalog</button>
  </div>
</ng-container>
<ng-template #not_found>
  <div class="notFoundContainer">
    <img src="assets/img/petNotFound.webp" width="450px" height="450px">
    <h1>Pet not found</h1>
    <button routerLink="/">Pet catalog</button>
  </div>
</ng-template>


