.container{
  width: 250px;
  height: fit-content;
  background: rgba(135, 0, 224, 0.46);
  background: linear-gradient(142deg, rgba(135, 0, 224, 0.27) 17%, rgba(255, 0, 213, 0.27) 100%);
  text-align: center;
  font-size: 1.5rem;
  border: 5px solid purple;
  backdrop-filter: blur(15px);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  transition: .5s;
  user-select: none;
}

.image img{
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}


a{
  text-decoration: none;
  color: white;
}

.container:hover{
  transform: scale(105%) translateY(-5px);
  background-position: 500% 20%;
  border: 5px solid gold;
}

