html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

* {
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  background-image: url("assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header{
  margin: 0 0.5vw;
  position: fixed;
  top: 1vh;
  z-index: 1;
  height: 50px;
  width: 98vw;
  background-color: rgba(35, 1, 66, 0.45);
  text-align: center;
  padding: 5px;
  transform-origin: top;
  backdrop-filter: blur(2rem);
  border-radius: 15px;
  transition: top .5s;

}

footer{
  width: 98vw;
  text-align: center;
  height: 2rem;
  font-weight: bold;
  background-color: rgba(28, 28, 28, 0);
  color: white;
  backdrop-filter: blur(5px);
  position: fixed;
  bottom: 0;
}



